<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30">
    <h2 class="text-5xl">全問正解！</h2>
    <h2 class="text-5xl">おめでとうございます🎉🎉🎉</h2>
      <p class="text-2xl mt-10">🎖️あなたは<strong class="text-yellow-300">真の<%= @category.name %></strong>の民ですね！🎖️</p>
    <div class="text-6xl mt-4 animate-bounce">🐥🐧🦍🐬🐱</div>

      <div class="text-lg text-black mt-10 flex space-x-6">
        <%= link_to "別のカテゴリで再挑戦", categories_path, class: "hover-action" %>
 
      <!-- Xシェア -->
        <%= link_to "Xでシェア","https://twitter.com/intent/tweet?" +
        "text=#{CGI.escape("世代別言葉クイズ！#{@category.name}カテゴリで全問正解だったよー！！！すごいだろー！😉💯")}" +
        "&url=#{root_url}" +
        "&hashtags=#{CGI.escape("世代別言葉クイズ")}",
        target: "_blank", rel: "noopener", class: "hover-action" %>
      </div>
      
    <!-- 紙吹雪（豪華ver） -->
    <script>
    const end = Date.now() + 15000;
    const conf = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    const rand = (min, max) => Math.random() * (max - min) + min;

    const interval = setInterval(() => {
        const left = end - Date.now();
        if (left <= 0) return clearInterval(interval);

        const count = 50 * (left / 15000);
        confetti({ ...conf, particleCount: count, origin: { x: rand(0.1, 0.3), y: Math.random() - 0.2 } });
        confetti({ ...conf, particleCount: count, origin: { x: rand(0.7, 0.9), y: Math.random() - 0.2 } });
    }, 250);
    </script>
  </div>
</div>