<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30">
    <h2 class="text-5xl"><%= @score %> / <%= @question_size %> 問正解！</h2>
      <div class="text-lg text-black mt-10 flex">
        <%= link_to "もう一度挑戦", categories_path %>
        <%= link_to "Xでシェア","https://twitter.com/intent/tweet?" +
        "url=#{root_url}result/#{@score}" +
        "&text=#{CGI.escape("世代別言葉クイズ！#{@category.name}カテゴリで#{@score}点だったよー！！！ないすー！")}" +
        "&hashtags=#{CGI.escape("世代別言葉クイズ")}",
        target: "_blank", rel: "noopener", class: "ml-4" %>
      </div>
    
    <!-- 紙吹雪（豪華ver） -->
    <script>
    const end = Date.now() + 15000;
    const conf = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    const rand = (min, max) => Math.random() * (max - min) + min;

    const interval = setInterval(() => {
        const left = end - Date.now();
        if (left <= 0) return clearInterval(interval);

        const count = 50 * (left / 15000);
        confetti({ ...conf, particleCount: count, origin: { x: rand(0.1, 0.3), y: Math.random() - 0.2 } });
        confetti({ ...conf, particleCount: count, origin: { x: rand(0.7, 0.9), y: Math.random() - 0.2 } });
    }, 250);
    </script>
  </div>
</div>