@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import "tailwindcss";

@theme {
  /* fontFamily */
  --font-dot: "Dotgothic16", sans-serif; 
}

.layout-main {
  @apply h-full flex flex-col items-center justify-center;
}

.layout-section {
  @apply text-white border-4 border-yellow-500 rounded-xl
         p-6 shadow-lg max-w-xl w-full mx-auto 
         flex flex-col items-center justify-center;
}

.choice-label {
  @apply cursor-pointer flex items-center justify-center relative
         peer-checked:text-yellow-300
         before:content-['▶']
         before:mr-1
         before:opacity-0
         before:transition-opacity
         peer-checked:before:opacity-100;
}

.hover-action{
  @apply relative hover:before:content-['▶'] hover:before:mr-1
}
