<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30">
    <h1 class="text-5xl">カテゴリを選択</h1>
    <ul class="flex flex-col space-y-5 mt-10 text-2xl">
      <% @categories.each do |category| %>
        <li>
          <%= link_to start_category_path(category), class: "action-link" do %>
            <span class="action-link-text">
              <%= category.name %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
