<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30">
    <h1 class="text-4xl">クイズのカテゴリを選択</h1>
    <ul class="flex flex-col space-y-5 mt-5 text-2xl">
      <% @categories.each do |category| %>
        <li>
          <%= link_to start_category_path(category), class: "text-2xl mt-5 group block hover:text-gray-300 transition-colors duration-200" do %>
            <span class="relative pl-6 before:absolute before:left-0 before:opacity-0 group-hover:before:opacity-100 group-hover:before:content-['▶']">
              <%= category.name %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
