<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30">
    <h1 class="text-5xl">【説明】</h1>
      <ul>
        <li class="space-y-5 mt-10 text-2xl">
          <p>問題が５問出題されるよ</p>
          <p>言葉の意味を選択して回答をおしてね</p>
          <p class="text-yellow-300">★全問正解者は特別なページに・・・？</p>
          <p>全問正解するまでチャレンジしてみてね</p>
        </li>
      </ul>

      <%= link_to category_path(@category), class: "text-2xl mt-10 group block hover:text-gray-300 transition-colors duration-200" do %>
      <span class="relative pl-6 before:absolute before:left-0 before:opacity-0 group-hover:before:opacity-100 group-hover:before:content-['▶']">
          始める
      </span>
      <% end %>
  </div>
</div>